---
Language:        Cpp
BasedOnStyle:  Microsoft
IndentAccessModifiers: false
AccessModifierOffset: -4
SortIncludes: false
QualifierAlignment: Left
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 0
